
! Xcursor
Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size: 22

! Xft settings
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
! Xft.hintstyle: hintslight
Xft.autohint: false
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.rgba: rgb

! urxvt
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*underlineColor: yellow
URxvt*font: xft:Inconsolata:size=16:antialias=true
URxvt*depth: 32
URxvt*borderless: true
URxvt*scrollBar: false
! URxvt*loginShell: true
Urxvt*secondaryScroll: true # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 10000
! URxvt*termName: rxvt-unicode
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,tabbed
URxvt.url-select.launcher: firefox -new-tab
URxvt.url-select.underline: true
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

URxvt.tabbed.tabbar-fg: 2
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 3
URxvt.tabbed.tab-bg: 0

URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~

#include ".current-colorscheme.xrdb"

!! apply colorscheme
URxvt*color0:       Ansi_0_Color
URxvt*color1:       Ansi_1_Color
URxvt*color2:       Ansi_2_Color
URxvt*color3:       Ansi_3_Color
URxvt*color4:       Ansi_4_Color
URxvt*color5:       Ansi_5_Color
URxvt*color6:       Ansi_6_Color
URxvt*color7:       Ansi_7_Color
URxvt*color8:       Ansi_8_Color
URxvt*color9:       Ansi_9_Color
URxvt*color10:      Ansi_10_Color
URxvt*color11:      Ansi_11_Color
URxvt*color12:      Ansi_12_Color
URxvt*color13:      Ansi_13_Color
URxvt*color14:      Ansi_14_Color
URxvt*color15:      Ansi_15_Color
URxvt*colorBD:      Bold_Color
URxvt*colorIT:      Italic_Color
URxvt*colorUL:      Underline_Color
URxvt*foreground:   Foreground_Color
URxvt*background:   Background_Color
URxvt*cursorColor:  Cursor_Color
